@charset "UTF-8";
/*css 初始化 */

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
.content_input_file>.content_input_text:hover {
    border-color:#FF503F;
}
.uploadFileBtn:hover {
    border-color:#FF503F;
}
input:hover {
    border-color: #ff503f!important;
}
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% "微软雅黑",Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
/* body{ */
/* /*     -moz-user-select:none; */ */
/*     -webkit-user-select: none; */
/*     user-select: none; */
/* } */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

a {color:#666; text-decoration:none; }
a:hover{color:#ea5514;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
/*公共类*/
.w {  /*版心 提取 */
    /*width: 1930px;*/
    margin:0 auto;
}
body {
    background-color: #F1F1F1;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部开始*/
.Con_header {
    height: 77px;
    background-color: #fff;
    min-width: 1190px;
}
.Con_header .Con_header_left a {
    display: inline-block;
    margin-top:21px;
    margin-left:21px;
}
.Con_header_right {
    margin-right:30px;
}
.Con_header_right a {
    display:inline-block;
}
.Con_header_right  img {
 /*   margin-top:12px;*/
    vertical-align: middle;
}
.Con_header_right .Con_name
{
    display:inline-block;
    height: 77px;
    line-height: 77px;
    font-size: 14px;
    color:#777;
}
.Con_name_icon {
    display:inline-block;
    width: 13px;
    height: 8px;
    background:url(../images/icon.png) -141px 0 no-repeat;
    margin-left:8px;
    vertical-align: middle;
    margin-top:-3px;
}
.Con_exit  {
    height: 40px;
    width: 133px;
    background-color: #fff;
    color:#777;
    font-size: 14px;
    line-height: 40px;
}
.Con_exit_block {
    display:inline-block;
    width: 16px;
    height: 16px;
    background:url(../images/icon.png) -266px 0;
    vertical-align: middle;
    margin-left:20px;
    margin-right:3px;
}
.Con_exit:hover {
    color:#EA5515;
}
.Con_exit:hover .Con_exit_block {
    background:url(../images/icon.png) -266px -28px;
}
.Con_header_right {
    height: 77px;
}
.Con_header_right>a {
    display: inline-block;
    margin-right:40px;
    height: 77px;
}
.Con_header_right>a>i {
    height: 16px;
    width: 16px;
    background:url(../images/icon.png) -266px 0 no-repeat;
    display: inline-block;
    vertical-align: text-bottom;
}
.Con_header_right>a>span {
    display: inline-block;
    color:#ABAFB3;
    font-size: 14px;
    height: 77px;
    line-height: 77px;
}
.Con_header_right>a:hover span{
    color:#FF503F;
}
.Con_header_right>a:hover >i {
    background:url(../images/icon.png) -266px -28px no-repeat;
}











